body{
    border: 3px solid black;
    margin: 200px;
    padding: 10px;
    width: 1000px;
    
}

.R1{
    background-color: rgb(145, 244, 244);
}

.R2{
    background-color: rgb(112, 192, 112);
}




