*{
    margin: 0px;
    padding: 0px;

}




p{
    color: blue;
    background-color: cadetblue;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    
}

.RG{
    color: red;
    background-color: burlywood;
}


body{
    background-color: aquamarine;
}

#l1{
    color: green;
}

div{
    height: 300px;
    width: 300px;
    background-color: green;
    border: 3px double black;
    padding: 10px;
    margin-left: 50px;
}