body{
    border: 3px solid black;
    margin: 200px;
    padding: 10px;
    
}


div{
    height: 50px;
    width: 500px;
    background-color: yellow;
    text-align: center;
    padding: 50px;
    margin-left: 250px;
    border: 40px solid blue;
    margin-bottom: 40px;
}